<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/custom.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>
<body style="background-image: linear-gradient(180deg , #fdbbc7,#fff3cd); height: 100vh;">
        <div class="container mt-5">
            <div class="card" style=" background-image: linear-gradient(180deg, #ffe5ca,#fed8cf); border: 2px dashed #d8c9e6;">
                <div class="card-header" style="background-image: linear-gradient(360deg, #f7cbd8,#ccc7df);">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a href="#clothing" class="nav-link active" data-bs-toggle="tab"  style="background-color: #ffe5d4;">Clothing</a>
                        </li>
                        <li class="nav-item">
                            <a href="#accessories" class="nav-link" data-bs-toggle="tab"  style="background-color: #ffe5d4;">Accessories</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="clothing">
                            <h1 class="card-title text-center mt-5">Taylor Swift Clothing</h1>
                            <div class="container mt-5">
                                <div class="row mt-5">
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/cloth1.webp">
                                        <h4>TAYLOR SWIFT THE ERAS TOUR WASHED BLUE HOODIE</h4>
                                        <h6>P 3,750.00</h6>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/cloth2.webp">
                                        <h4>TAYLOR SWIFT THE ERAS TOUR BEIGE T-SHIRT</h4>
                                        <h6>P 2,250.00</h6>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/cloth3.webp">
                                        <h4>TAYLOR SWIFT THE ERAS TOUR BEIGE HOODIE</h4>
                                        <h6>P 3,750.00</h6>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/cloth4.webp">
                                        <h4>TAYLOR SWIFT THE ERAS TOUR BLACK T-SHIRT</h4>
                                        <h6>P 2,250.00</h6>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/cloth5.webp">
                                            <h4>TAYLOR SWIFT THE ERAS TOUR 1989 ALBUM T-SHIRT</h4>
                                            <h6>P 2,250.00</h6>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/cloth6.webp">
                                            <h4>TAYLOR SWIFT THE ERAS TOUR LOVER ALBUM T-SHIRT</h4>
                                            <h6>P 2,250.00</h6>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/cloth7.webp">
                                            <h4>TAYLOR SWIFT THE ERAS TOUR RED ALBUM T-SHIRT</h4>
                                            <h6>P 2,250.00</h6>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/cloth8.webp">
                                            <h4>TAYLOR SWIFT THE ERAS TOUR CROPPED LAVENDER PULLOVER</h4>
                                            <h6>P 3,250.00</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="accessories">
                            <h1 class="card-title text-center mt-5">Taylor Swift Accessories</h1>
                            <div class="container mt-5">
                                <div class="row mt-5">
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/acc1.webp">
                                        <h4>TAYLOR SWIFT THE ERAS TOUR MUG</h4>
                                        <h6>P 1,000.00</h6>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/acc2.webp">
                                        <h4>TAYLOR SWIFT THE ERAS TOUR GUITAR PICKS</h4>
                                        <h6>P 750.00</h6>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/acc3.webp">
                                        <h4>TAYLOR SWIFT THE ERAS TOUR EARBUD CASE</h4>
                                        <h6>P 3,750.00</h6>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/acc4.webp">
                                        <h4>TAYLOR SWIFT THE ERAS TOUR LUGGAGE STICKERS</h4>
                                        <h6>P 750.00</h6>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/acc5.webp">
                                            <h4>TAYLOR SWIFT THE ERAS TOUR TUMBLER</h4>
                                            <h6>P 1,750.00</h6>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/acc6.webp">
                                            <h4>TAYLOR SWIFT THE ERAS TOUR ACTIVITY BOOK AND COLORED PENCILS</h4>
                                            <h6>P 1,500.00</h6>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/acc7.webp">
                                            <h4>TAYLOR SWIFT THE ERAS TOUR LUGGAGE TAG</h4>
                                            <h6>P 500.00</h6>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/acc8.webp">
                                            <h4>TAYLOR SWIFT THE ERAS TOUR PORTABLE CHARGER</h4>
                                            <h6>P 1,000.00</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
</body>
<!-- </html>
<a href="#" class="btn btn-primary">View More</a> -->
                                    <!-- <div class="hm-mini-card__media">
                                        <div class="hm-mini-card__img-wrapper">
                                            <a aria-label="Emma Stone shares rare details of friendship with Taylor Swift" class="hm-link" href="/celebrities/494821/emma-stone-shares-rare-details-relationship-taylor-swift/">
                                                <div class="hm-image__wrapper">
                                                    <div class="hm-image hm-image--layout-responsive -aspect-ratio-landscape">
                                                        <figure>
                                                            <img src="assets/images/news.jpg"  class="img-responsive" alt="Emma Stone shares rare details of friendship with Taylor Swift">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div> -->
                                  <!-- <h5 class="card-title">Home Content</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ut magnam voluptas aliquam consectetur laborum, ullam rem sit molestiae quasi qui suscipit delectus tempore. Voluptatem minus optio facere eaque nihil odio, rem fuga iusto! Nostrum exercitationem perspiciatis numquam assumenda quas saepe reprehenderit consectetur esse, quos expedita nisi nihil libero odit?</p>
                            <div class="card w-50"> -->
                                <!-- <img src="images/taylor.jpg" alt="">
                                <div class="card-img-overlay">
                                    <h2>The Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias possimus quas consectetur deserunt quae architecto nisi assumenda itaque ratione distinctio et voluptatum, hic quisquam veritatis praesentium temporibus quis eos. Sequi porro voluptatum ipsa voluptates non voluptatem illum perspiciatis, consequuntur consequatur, officiis, rerum odio. Reiciendis ipsa eligendi nihil laboriosam fuga mollitia.</p> -->