<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <link rel="stylesheet" href="../assets/css/homepage-menu.css">

</head>

<body>
    <div class="full-screen-video-container">
        <video loop muted autoplay poster="">
            <source src="../assets/images/bg-dashboard.mp4" type="video/mp4" style="background-size: cover;">
        </video>
        <div class="container">
            <div class="centered">
                <div class="row">
                    <div class="col-12 mt-5">
                        <h1 class="title text-center">Taylor Swift</h1>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow link mask-card">

                            <a href="home.html">
                                <img class="rounded card-img-top" src="../assets/images/button-home.jpg" alt="Thumbnail [100%x225]" data-holder-rendered="true" style="height: 225px; width: 100%; display: block; opacity: 0.5;">
                                <div class="text-centered">
                                    <a class="lets-go-button btn btn-outline-light btn-lg m-2" href="./home/home.html" target="_self">Home</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow mask-card">
                            <a href="./music/music.html">
                                <img class="img-btn rounded card-img-top" src="../assets/images/button-music.jpg" alt="Thumbnail [100%x225]">
                                <div class="text-centered">
                                    <a class="lets-go-button btn btn-outline-light btn-lg m-2" href="./music/music.html" target="_self">Music</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow mask-card">
                            <a href="./photos/photos.html">
                                <img class="img-btn rounded card-img-top" src="../assets/images/button-photos.jpg" alt="Thumbnail [100%x225]">
                                <div class="text-centered">
                                    <a class="lets-go-button btn btn-outline-light btn-lg m-2" href="./photos/photos.html" target="_self">Photos</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow mask-card">
                            <a href="./videos/video.html">
                                <img class="img-btn rounded card-img-top" src="../assets/images/button-videos.jpg" alt="Thumbnail [100%x225]">
                                <div class="text-centered">
                                    <a class="lets-go-button btn btn-outline-light btn-lg m-2" href="./videos/video.html" target="_self">Video</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow mask-card">
                            <a href="./store/store.html">
                                <img class="img-btn rounded card-img-top" src="../assets/images/button-merchandise.jpg" alt="Thumbnail [100%x225]">
                                <div class="text-centered">
                                    <a class="lets-go-button btn btn-outline-light btn-lg m-2" href="./store/store.html" target="_self">Store</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow mask-card">
                            <a href="./about/about.html">
                                <img class="img-btn rounded card-img-top" src="../assets/images/button-about.jpg" alt="Thumbnail [100%x225]">
                                <div class="text-centered">
                                    <a class="lets-go-button btn btn-outline-light btn-lg m-2" href="./about/about.html" target="_self">About Taylor</a>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="remarksb text-center">
                            Welcome to this Taylor Swift e-magazine! I am thrilled to have you here as we delve into the world of one of the most iconic and talented artists of our time. Taylor Swift has captured the hearts of millions of fans with her soulful lyrics, catchy melodies, and incredible performances. From her early days as a country music star to her current reign as a pop superstar, Taylor has consistently pushed the boundaries of what it means to be a successful artist in the music industry. In this e-magazine, we will take a closer look at her life, her music, and her impact on the world around us. So sit back, relax, and let's dive into the magical world of Taylor Swift!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>