<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/custom.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>
<body style="background-image: linear-gradient(180deg , #fdbbc7,#fff3cd); height: 100vh;">
        <div class="container mt-5">
            <div class="card" style=" background-image: linear-gradient(180deg, #ffe5ca,#fed8cf); border: 2px dashed #d8c9e6;">
                <div class="card-header" style="background-image: linear-gradient(360deg, #f7cbd8,#ccc7df);">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a href="#music-videos" class="nav-link active" data-bs-toggle="tab"  style="background-color: #ffe5d4;">Music Videos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#tour-footage" class="nav-link" data-bs-toggle="tab"  style="background-color: #ffe5d4;">Concert Tour Footage</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="music-videos">
                            <h1 class="card-title text-center mt-5">Taylor Swift Music Videos Links</h1>
                            <div class="container mt-5">
                                <div class="row mt-5">
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/os1.jpg">
                                        <a href="https://youtu.be/Jb2stN7kH28" style="text-decoration: none;" class="fs-4">Our song</a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/os2.jpg">
                                        <a href="https://youtu.be/Jb2stN7kH28" style="text-decoration: none;" class="fs-4">Picture to Burn</a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/os3.jpg">
                                        <a href="https://youtu.be/Jb2stN7kH28" style="text-decoration: none;" class="fs-4">Tim Mcgraw</a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/os4.jpg">
                                        <a href="https://youtu.be/Jb2stN7kH28" style="text-decoration: none;" class="fs-4">Teardrops of my Guitar</a>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/f1.jpg">
                                            <a href="https://youtu.be/Jb2stN7kH28" style="text-decoration: none;" class="fs-4">Fearless</a>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/f2.jpg">
                                            <a href="https://youtu.be/Jb2stN7kH28" style="text-decoration: none;" class="fs-4">You Belong With Me</a>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/f3.jpg">
                                            <a href="https://youtu.be/Jb2stN7kH28" style="text-decoration: none;" class="fs-4">Love Story</a>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <img class="img-fluid mt-5" src="../../assets/images/f4.jpg">
                                            <a href="https://youtu.be/Jb2stN7kH28" style="text-decoration: none;" class="fs-4">Fifteen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tour-footage">
                            <h2 class="card-title text-center mt-5">Taylor Swift Concert Tour Footage</h2>
                            <div class="container mt-5">
                                <div class="row mt-5">
                                    <div class="col-md-4 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/footage1.jpg">
                                        <a href="https://youtu.be/P5JLMp08GC0" style="text-decoration: none;" class="fs-4">The 1989 Tour Footage</a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/footage3.jpg">
                                        <a href="https://youtu.be/JPhWiwi1U-M" style="text-decoration: none;" class="fs-4">The Reputation Tour Footage</a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <img class="img-fluid mt-5" src="../../assets/images/footage2.jpg">
                                        <a href="https://youtu.be/8mt6S4T43Kc" style="text-decoration: none;" class="fs-4">The New Era Tour Footage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
</body>
<!-- </html>
<a href="#" class="btn btn-primary">View More</a> -->
                                    <!-- <div class="hm-mini-card__media">
                                        <div class="hm-mini-card__img-wrapper">
                                            <a aria-label="Emma Stone shares rare details of friendship with Taylor Swift" class="hm-link" href="/celebrities/494821/emma-stone-shares-rare-details-relationship-taylor-swift/">
                                                <div class="hm-image__wrapper">
                                                    <div class="hm-image hm-image--layout-responsive -aspect-ratio-landscape">
                                                        <figure>
                                                            <img src="assets/images/news.jpg"  class="img-responsive" alt="Emma Stone shares rare details of friendship with Taylor Swift">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div> -->
                                  <!-- <h5 class="card-title">Home Content</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ut magnam voluptas aliquam consectetur laborum, ullam rem sit molestiae quasi qui suscipit delectus tempore. Voluptatem minus optio facere eaque nihil odio, rem fuga iusto! Nostrum exercitationem perspiciatis numquam assumenda quas saepe reprehenderit consectetur esse, quos expedita nisi nihil libero odit?</p>
                            <div class="card w-50"> -->
                                <!-- <img src="images/taylor.jpg" alt="">
                                <div class="card-img-overlay">
                                    <h2>The Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias possimus quas consectetur deserunt quae architecto nisi assumenda itaque ratione distinctio et voluptatum, hic quisquam veritatis praesentium temporibus quis eos. Sequi porro voluptatum ipsa voluptates non voluptatem illum perspiciatis, consequuntur consequatur, officiis, rerum odio. Reiciendis ipsa eligendi nihil laboriosam fuga mollitia.</p> -->