<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/custom.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>
<body style="background-image: linear-gradient(180deg , #fdbbc7,#fff3cd);">
        <div class="container mt-5">
            <div class="card" style=" background-image: linear-gradient(180deg, #ffe5ca,#fed8cf); border: 2px dashed #d8c9e6;">
                <div class="card-header" style="background-image: linear-gradient(360deg, #f7cbd8,#ccc7df);">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a href="#news" class="nav-link active" data-bs-toggle="tab" style="background-color: #ffe5d4;">Latest News</a>
                        </li>
                        <li class="nav-item">
                            <a href="#diary" class="nav-link" data-bs-toggle="tab" style="background-color: #ffe5d4;">Taylor Diary</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="news">
                            <h1 class="card-title text-center">Taylor Swift</h1>
                            <p class="content text-center fs-3">Taylor Swift, American singer-songwriter, moved from Pennsylvania, United States to Nashville at the tender age of fourteen to pursue a career in country music. She exploded onto the mainstream music scene in 2008 and has since gone on to be the first woman to win three Album of the Year GRAMMYs - plus another 8 in various other categories! As well as her countless musical accolades, her personal life has also sparked public interest as she has been romantically linked to Harry Styles, Jake Gyllenhaal, Calvin Harris and Tom Hiddleston. Most recently, she's been living out her Love Story dreams with British actor Joe Alwyn.</p>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>CELEBRITY NEWS</h6>
                                       <h1 class="text-center mt-5">Emma Stone shares rare details of friendship with Taylor Swift</h1>
                                       <h5 class="mt-5">The La La Land star was spotted cheering her friend on front and center</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <img class="img-fluid" src="https://images.hellomagazine.com/horizon/landscape/df43cd85a1af-gettyimages-80889499.jpg?tx=c_fill,w_1280">
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-6">
                                        <img class="img-fluid" src="https://images.hellomagazine.com/horizon/landscape/80b75f7f72de-532d60e57ee6-shutterstockeditorial13751980xjjpg.jpg?tx=c_fill,w_1280">
                                    </div>
                                    <div class="col-md-6">
                                        <h6>CELEBRITY NEWS</h6>
                                       <h1 class="text-center mt-5">Who is Taylor Swift dating after splitting with Joe Alwyn? A look at the rumors so far</h1>
                                       <h5 class="mt-5"> The “All Too Well” singer has been linked to Matty Healy and Fernando Alonso. </h5>
                                       <h6 class="mt-5">04 MAY 2023, 04:09 BST</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="diary">
                            <h2 class="card-title text-center">Taylor Swift Diary</h2>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="text-center mt-5">Taylor Swift’s Diary Entries Are a Must-Read Companion to ‘Lover’</h1>
                                        <p class="fs-3">Four different booklets in special editions of her new album contain reproductions of handwritten journals that reveal what Swift wants us to see — and what she doesn’t.</p>
                                        <img class="img-fluid" src="https://static01.nyt.com/images/2019/08/27/arts/26swift-journals1/merlin_29817256_158a039f-f0a4-4111-8c4d-f28b6db5575a-superJumbo.jpg?quality=75&auto=webp" alt="">
                                        <p class="mt-5 fs-3">On Friday, when Taylor Swift released her seventh album, “Lover,” she didn’t just deliver 18 songs into the digital ether. As one of the few remaining pop stars to prioritize physical sales, Swift offered her devoted fan base four special-edition CD versions of the album, available exclusively at Target, each accompanied by a booklet containing a reprinted selection of handwritten journal entries spanning her career, from ages 13 to 27.

                                            Instead of collectible fluff, the result, for any close reader of Swift’s work, is a meticulously curated glimpse into the artist’s real-time feelings on an array of issues, people, ideas and squabbles that have defined her life as a musician and celebrity. “I frequently and drastically changed my opinions on love, friends, confidence and trust,” she notes in the introduction to the selections, and then proceeds to show just how.
                                            
                                            Across the four unique assortments, Swift tells a piecemeal story of her rise in the industry, where label meetings as a young teenager turn into radio play, record sales, the Grammy Awards and the Met Gala, mixing landmark moments with mundane personal updates, drafts of lyrics and other marginalia.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                       <img class="img-fluid mt-5" src="https://static01.nyt.com/images/2019/08/27/arts/26swift-journals6/merlin_159753372_c4c822ae-2667-4e3d-98b3-8f232fdb6ab5-superJumbo.jpg?quality=75&auto=webp" alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <img class="img-fluid mt-5" src="https://static01.nyt.com/images/2019/08/27/arts/26swift-journals4/merlin_159753381_8b950f4d-b12a-464b-8a4a-fba5d342cd49-superJumbo.jpg?quality=75&auto=webp" alt="">
                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <div class="col-md-3">
                                        <img class="img-fluid mt-5" src="https://static01.nyt.com/images/2019/08/27/arts/26swift-journals5/merlin_159753375_871ed00a-facd-47f9-9367-8d4df3a3cf54-superJumbo.jpg?quality=75&auto=webp">
                                    </div>
                                    <div class="col-md-6 text-center mt-5">
                                        <h3>Taylor’s Diary - My 13 Year Old Self (Exclusive Reading from Deluxe Edition Lover Album)</h3>
                                        <iframe class="mt-5" src="https://www.youtube.com/embed/UY3UfH-ittk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    </div>
                                    <div class="col-md-3">
                                        <img class="img-fluid mt-5" src="https://static01.nyt.com/images/2019/08/26/arts/26swift-journals7/merlin_159753369_861a1f25-4f66-41ff-bd54-aa6ecad030a1-superJumbo.jpg?quality=75&auto=webp">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
</body>
<!-- </html>
<a href="#" class="btn btn-primary">View More</a> -->
                                    <!-- <div class="hm-mini-card__media">
                                        <div class="hm-mini-card__img-wrapper">
                                            <a aria-label="Emma Stone shares rare details of friendship with Taylor Swift" class="hm-link" href="/celebrities/494821/emma-stone-shares-rare-details-relationship-taylor-swift/">
                                                <div class="hm-image__wrapper">
                                                    <div class="hm-image hm-image--layout-responsive -aspect-ratio-landscape">
                                                        <figure>
                                                            <img src="assets/images/news.jpg"  class="img-responsive" alt="Emma Stone shares rare details of friendship with Taylor Swift">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div> -->
                                  <!-- <h5 class="card-title">Home Content</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ut magnam voluptas aliquam consectetur laborum, ullam rem sit molestiae quasi qui suscipit delectus tempore. Voluptatem minus optio facere eaque nihil odio, rem fuga iusto! Nostrum exercitationem perspiciatis numquam assumenda quas saepe reprehenderit consectetur esse, quos expedita nisi nihil libero odit?</p>
                            <div class="card w-50"> -->
                                <!-- <img src="images/taylor.jpg" alt="">
                                <div class="card-img-overlay">
                                    <h2>The Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias possimus quas consectetur deserunt quae architecto nisi assumenda itaque ratione distinctio et voluptatum, hic quisquam veritatis praesentium temporibus quis eos. Sequi porro voluptatum ipsa voluptates non voluptatem illum perspiciatis, consequuntur consequatur, officiis, rerum odio. Reiciendis ipsa eligendi nihil laboriosam fuga mollitia.</p> -->